@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700");
@import url("../css/fonts.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

.header-principal {
  position: fixed;
  width: 100%;
  padding: 0 1.5rem;
  z-index: 1;
}
.header-principal::before {
  content: "";
  position: fixed;
  top: -1rem;
  left: 0;
  width: 100%;
  height: 1rem;
  box-shadow: 0 0 4rem #000;
}
.header-principal .nav-header {
  width: 100%;
  height: 3rem;
  position: relative;
}
.header-principal .nav-header ul {
  position: absolute;
  list-style: none;
  display: flex;
}
.header-principal .nav-header ul li {
  cursor: pointer;
  margin-right: 1rem;
  padding-top: 0.3rem;
  color: #fff;
  border-top: solid 0.3rem transparent;
  font-family: "Proxima Nova", sans-serif;
  font-weight: normal;
  font-size: 1.25rem;
  font-weight: 300;
  text-transform: capitalize;
}
@media screen and (max-width: 1000px) {
  .header-principal .nav-header ul li {
    display: none;
  }
}
.header-principal .nav-header ul li a {
  text-decoration: none;
  color: inherit;
}
.header-principal .nav-header ul .active {
  border-top: solid 0.3rem #54d154;
  font-weight: bold;
}
.header-principal .nav-header .logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  color: inherit;
  font-family: "Nautilus Pompilius", sans-serif;
  font-size: 2rem;
  color: #fff;
}
@media screen and (max-width: 1000px) {
  .header-principal .nav-header .logo {
    display: none;
  }
}
.header-principal .nav-header .search-right {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
}
@media screen and (max-width: 1000px) {
  .header-principal .nav-header .search-right {
    display: none;
  }
}
.header-principal .nav-header .search-right input[type=text], .header-principal .nav-header .search-right button[type=submit] {
  border: solid 0.1rem transparent;
  height: 2rem;
  background-color: #ffffffdd;
}
.header-principal .nav-header .search-right input[type=text] {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  font-family: "Proxima Nova", sans-serif;
  font-size: 1rem;
  padding-left: 1rem;
  width: 10rem;
}
.header-principal .nav-header .search-right input[type=text]::placeholder {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 300;
  font-size: 1rem;
}
.header-principal .nav-header .search-right button[type=submit] {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.header-principal .nav-header .search-right .search-img {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  cursor: pointer;
}
@media screen and (max-width: 1000px) {
  .header-principal .nav-header .more {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
    color: #fff;
  }
}
@media screen and (min-width: 1000px) {
  .header-principal .nav-header .more {
    display: none;
  }
}

.principal {
  width: 100%;
  background: url("../img/background.jpg") no-repeat;
  object-fit: cover;
  background-size: cover;
  position: relative;
  text-align: center;
  padding: 19rem 0 10rem 0;
  z-index: 0;
}
@media screen and (max-width: 500px) {
  .principal .h1-main {
    font-size: 2.5rem;
    color: #fff;
    font-weight: bold;
    text-transform: capitalize;
  }
}
@media screen and (min-width: 500px) and (max-width: 1000px) {
  .principal .h1-main {
    font-size: 3rem;
    color: #fff;
    font-weight: bold;
    text-transform: capitalize;
  }
}
@media screen and (min-width: 1000px) {
  .principal .h1-main {
    font-size: 4rem;
    color: #fff;
    font-weight: bold;
    text-transform: capitalize;
  }
}
.principal .mybtn {
  margin-top: 2rem;
  cursor: pointer;
  text-transform: uppercase;
  padding: 0.8rem 2rem;
  border-radius: 3rem;
  border: none;
  background-color: #54d154;
  color: #fff;
  font-size: 1.5rem;
  font-family: "Proxima Nova", sans-serif;
}
.principal .mybtn:hover {
  background-color: #4cbd4c;
}
.principal .scroll-down {
  cursor: pointer;
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.2rem 1rem;
  border-radius: 3rem;
  border: transparent;
  background-color: #ffffffcc;
  text-transform: lowercase;
  font-size: 1.1rem;
  font-family: "Proxima Nova", sans-serif;
  font-weight: 300;
}
.principal .scroll-down i {
  margin-left: 0.4rem;
}

.footer-1 {
  background-color: #333;
  box-shadow: inset 0 0 0.5rem #111;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer-1 .sect {
  width: 28rem;
}
@media screen and (max-width: 500px) {
  .footer-1 .sect {
    padding: 2rem 0;
  }
}
@media screen and (min-width: 500px) {
  .footer-1 .sect {
    padding: 2rem;
  }
}
.footer-1 .sect .h2-sect {
  color: #fff;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.15rem;
  letter-spacing: 0.2rem;
}
.footer-1 .sect .h2-sect::after {
  content: "";
  width: 2.5rem;
  height: 0.1rem;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 125%;
  transform: translate(-50%, -50%);
}
.footer-1 .sect .footer-section .contenido {
  margin-top: 1rem;
  text-align: center;
  color: #bbb;
  font-family: "Proxima Nova", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.25;
}
.footer-1 .sect .footer-section .contact-section {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}
.footer-1 .sect .footer-section .contact-section p {
  text-align: center;
  color: #aaa;
}
.footer-1 .sect .footer-section .contact-section .contact-form {
  margin-top: 1rem;
  padding: 0 2%;
}
.footer-1 .sect .footer-section .contact-section .contact-form input[type=text], .footer-1 .sect .footer-section .contact-section .contact-form input[type=email], .footer-1 .sect .footer-section .contact-section .contact-form textarea, .footer-1 .sect .footer-section .contact-section .contact-form button[type=submit] {
  width: 100%;
  border: none;
}
.footer-1 .sect .footer-section .contact-section .contact-form input[type=text], .footer-1 .sect .footer-section .contact-section .contact-form input[type=email], .footer-1 .sect .footer-section .contact-section .contact-form textarea {
  margin-bottom: 0.2rem;
  background-color: #444;
  padding-left: 1rem;
  font-family: "Proxima Nova", sans-serif;
  font-size: 1rem;
  color: #aaa;
}
.footer-1 .sect .footer-section .contact-section .contact-form input[type=text]::placeholder, .footer-1 .sect .footer-section .contact-section .contact-form input[type=email]::placeholder, .footer-1 .sect .footer-section .contact-section .contact-form textarea::placeholder {
  font-family: "Proxima Nova", sans-serif;
  font-size: 1rem;
}
.footer-1 .sect .footer-section .contact-section .contact-form input[type=text], .footer-1 .sect .footer-section .contact-section .contact-form input[type=email], .footer-1 .sect .footer-section .contact-section .contact-form button[type=submit] {
  height: 2rem;
}
.footer-1 .sect .footer-section .contact-section .contact-form input[type=text] {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.footer-1 .sect .footer-section .contact-section .contact-form button[type=submit] {
  margin-top: -0.2rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background-color: #2b9b2b;
  color: #bbb;
  text-transform: uppercase;
  cursor: pointer;
}
.footer-1 .sect .footer-section .contact-section .contact-form button[type=submit]:hover {
  background-color: #2a8b2a;
}
.footer-1 .sect .footer-section .contact-section .contact-form textarea {
  padding-top: 0.5rem;
  resize: none;
}
.footer-1 .sect .footer-section .posts {
  list-style: none;
  position: relative;
}
.footer-1 .sect .footer-section .posts li {
  text-align: justify;
  display: inline-block;
  margin-top: 1rem;
}
.footer-1 .sect .footer-section .posts li img {
  float: left;
}
.footer-1 .sect .footer-section .posts li p {
  text-transform: capitalize;
}
@media screen and (max-width: 500px) {
  .footer-1 .sect .footer-section .posts li p {
    margin-left: 4rem;
  }
}
@media screen and (min-width: 500px) {
  .footer-1 .sect .footer-section .posts li p {
    margin-left: 4rem;
  }
}
.footer-1 .sect .footer-section .posts li span {
  margin-left: 0.6rem;
  padding: 0.4rem;
  background-color: #aaa;
  text-transform: uppercase;
  font-size: 0.8rem;
  border-radius: 0.2rem;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}
.footer-1 .sect .footer-section .posts li span.bg-naranja {
  background-color: #f34d04;
}
.footer-1 .sect .footer-section .posts li span.bg-amarillo {
  background-color: #ffba00;
}
.footer-1 .sect .footer-section .posts li span.bg-azul {
  background-color: #089dea;
}
.footer-1 .sect .footer-section .posts li span.bg-verde {
  background-color: #54d154;
}
.footer-1 .sect .footer-section .social-media {
  display: flex;
  background-color: #fff;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  border-radius: 5rem;
  padding: 0.25rem 0;
}
@media screen and (max-width: 500px) {
  .footer-1 .sect .footer-section .social-media {
    margin: 2rem 30%;
  }
}
@media screen and (min-width: 500px) {
  .footer-1 .sect .footer-section .social-media {
    margin: 2rem 9.5rem 0 9.5rem;
  }
}
.footer-1 .sect .footer-section .social-media li {
  margin: 0 0.1rem;
}
.footer-1 .sect .footer-section .social-media li a {
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
