body {
  width: 100%;
  background-color: #cfcece;
  font-family: 'Montserrat', Arial, sans-serif;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
}

.container-centered {
  text-align: center;
}

.section-title {
  display: block;
  margin: 0 auto 13px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 3px;
}

.line {
  width: 44px;
  height: 2px;
  border: 0;
  background-color: #828181;
}

/*OUR LATEST WORKS---------------------------------------------------*/

.section-our-latest-works {
  width: 100%;
  background-color: #54d154;
  color: #828181;
  padding: 37px 0 63px;
}

.view-more {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  padding-left: 16px;
  text-align: left;
  background-color: #2b9b2b;
  width: 185px;
  height: 40px;
  line-height: 40px;
  border-radius: 25px;
  background-image: url('../img/view-more-bg.png');
  background-repeat: no-repeat;
  background-position: right 18px center;
  margin: 40px auto 0;
  margin-top: 40%;
}


/*TESTIMONIALS----------------------------------------------------------------*/

.section-testimonials {
  width: 100%;
  padding: 35px 0 63px;
  background-color: #fff;
  color: #696969;
}

.testimonials-quotes {
  text-align: center;
  max-width: 550px;
  font-size: 16px;
  margin: 74px auto 0;
}

.testimonials-client {
  max-width: 222px;
  margin: 20px auto;
  height: 45px;
  padding: 5px;
}

.testimonials-client img {
  float: left;
  margin-right: 5px;
}

.testimonials-client p {
  display: block;
  text-align: left;
  margin: 5px;
}

.testimonials-client-company {
  color: #ccc;
}

/*HAPPY CLIENTS-----------------------------------------------------------------------*/

.section-happy-clients {
  background-color: #f2f1f1;
  padding: 37px 0 63px;
}

.happy-clients-images {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
}

.happy-clients-wrap {
  flex-basis: 25%;
  flex-grow: 1;
}

.happy-clients-images img {
  display: block;
  margin: 44px auto 0;
}

.all-clients {
  display: block;
  text-decoration: none;
  color: #aca5a5;
  font-size: 18px;
  padding-left: 16px;
  text-align: left;
  background-color: #dddcdc;
  width: 185px;
  height: 40px;
  line-height: 40px;
  border-radius: 25px;
  background-image: url('../img/all-clients-bg.png');
  background-repeat: no-repeat;
  background-position: right 18px center;
  margin: 60px auto 0;
}

/*------------------------------RESPONSIVE-------------------------------*/

@media (max-width:1366px) {}

@media (max-width:1280px) {}

@media (max-width:1024px) {}

@media (max-width:800px) {}

@media (max-width:768px) {}

@media (max-width:640px) {}

@media (max-width:480px) {}

@media (max-width:320px) {}