@font-face{
    font-family: 'Nautilus Pompilius';
    src: url('../fonts/Nautilus.otf') format('opentype');
}
@font-face{
    font-family: 'Proxima Nova';
    src: url('../fonts/Proxima-Nova.otf') format('opentype');
    font-weight: normal;
}
@font-face{
    font-family: 'Proxima Nova';
    src: url('../fonts/Proxima-Nova-Light.otf') format('opentype');
    font-weight: 300;
}
@font-face{
    font-family:  'Proxima Nova';
    src: url('../fonts/Proxima-Nova-Bold.otf') format('opentype');
    font-weight: 700;
}